---
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "./icons/Tailwind.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-black text-white",
    icon: TailwindIcon,
  },
};

const PROJECTS = [
  {
    title: "Tabler Icons",
    description:
      "Mi portfolio personal, donde muestro mis proyectos y habilidades.",
    link: "https://tabler.io/icons",
    github: "https://github.com/",
    image: "/projects/svgl.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-3xl font-semibold text-blue-200 mb-2">{title}</h3>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-4">
        {tags.map((tag) => (
          <li>
            <span class={`flex gap-x-2 rounded-full text-sm ${tag.class} py-2 px-1`}>
              <tag.icon class="size-5" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
